body {
  background-color: bisque;

}

.card {
  width: 50rem;
  border: 1px solid #4d4b4b;
  border-radius: 5%;
  margin: 20px;
  overflow: hidden;
}


.card-text {
  margin-top: 28%;
  margin-right: 50%;
  margin-left: 10%;
  color: black;
  text-rendering: inherit;
}

.btn {
  font-size: 1.2rem;
  padding: 10px 16px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  margin-left: 10%;
  margin-top: 5%;
}


.btn:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
}

